<div class="border border-secondary rounded p-3 my-2 comment-<%= comment.id %>">
  <small>
    <%= comment.user.email %><br>
  </small>

  <% if (comment.updated_at - comment.created_at) > 1 %>
    <small class="text-muted">
      Edited <%= time_ago_in_words(comment.updated_at) %> ago
    </small>
  <% else %>
    <small class="text-muted">
      Posted <%= time_ago_in_words(comment.created_at) %> ago
    </small>
  <% end %>

  <% if current_user == comment.user %>
    <div class="btn-group float-end" role="group" aria-label="Basic example">
      <%=
        link_to "Edit", nil, type: 'button', remote: true, class: "btn btn-sm btn-warning",
        data: {
          controller: 'comments',
          action: 'comments#toggleForm',
          comments_form_param: "edit-form-#{comment.id}",
          comments_body_param: "comment-body-#{comment.id}",
          comments_edit_param: "edit-button-#{comment.id}"
        },
        id: "edit-button-#{comment.id}"
      %>
      <%= button_to "Delete", [ post, comment ], method: :delete, class: "btn btn-sm btn-danger" %>
    </div>

    <div class="d-none" id="edit-form-<%= comment.id %>">
      <%=
        render "comments/form",
        post: @post,
        comment: comment,
        submit_label: 'Update'
      %>
    </div>
  <% end %>

  <hr>
  <div id="comment-body-<%= comment.id %>">
    <%= comment.body %>
  </div>
</div>
