<% if current_user %>
  <li class="nav-item dropdown mx-5">
    <a
      class="nav-link dropdown-toggle"
      href="#"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <%= current_user.full_name %> <small class="text-success">[ <%= current_user.email %> ]</small>
    </a>

    <ul class="dropdown-menu">
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "dropdown-item" %>
      </li>
      <li class="nav-item">
        <%= link_to "About", about_path, class: "dropdown-item" %>
      </li>
      <li class="nav-item">
        <%= link_to "Posts", posts_path, class: "dropdown-item" %>
      </li>

      <li><hr class="dropdown-divider"></li>

      <li class="nav-item">
        <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
      </li>

      <li><hr class="dropdown-divider"></li>

      <li class="nav-item">
        <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item text-primary" %>
      </li>
      <li class="nav-item">
        <%= link_to "Create Post", new_post_path, class: "dropdown-item text-success" %>
      </li>
      <li class="nav-item">
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item text-danger" %>
      </li>

      <li><hr class="dropdown-divider"></li>

      <li class="nav-item">
        <%= link_to "Admin", admin_path, class: "dropdown-item text-secondary" if current_user.admin? %>
      </li>
    </ul>
  </li>
<% else %>
  <li class="nav-item">
    <%= link_to "Sign up", new_user_registration_path, class: "nav-link text-success" %>
  </li>
  <li class="nav-item">
    <%= link_to "Sign in", new_user_session_path, class: "nav-link text-primary me-5" %>
  </li>
<% end %>
