<div id="<%= dom_id post %>">
  <h4 class="text-muted">
    <%= post.title %>
  </h4>

  <div class="mb-3">
    <%= post.body %>
  </div>

  <small class="text-muted">
    Posted by: <%= link_to post.user.name, user_path(post.user) %>
  </small><br>

  <small class="mt-5">
    <%= pluralize(post.views, "view") %>
  </small>
</div>
