<p style="color: green">
  <%= notice %>
</p>

<%= render @category %>
<div class="mt-5">
  <% if current_user.admin? %>
    <%= link_to "Edit this category", edit_category_path(@category) %><br>
    <%= button_to "Destroy this category", @category, method: :delete, class: 'm-0 p-0 btn btn-link text-decoration-none text-danger' %>
  <% end %>
  
  <%= link_to "Back to categories", categories_path %>
</div>
